{%  extends "base.html.twig" %}
{% block body %}
    <div class="row mt-4">
        <div class="col-md-3">
            {{ form(myform) }}
        </div>
        <div class="col-md-9">

        </div>
    </div>

    {% for car in carItems %}
        <p>{{ car.getMileage() }} {{ car.getPrice() }}</p>
    {%  endfor %}
    </select>
{%  endblock %}

{% block bottomscript %}
<script>
    let makerSelect = document.homepage_form.homepage_form_car_makers;
    let modelSelect = document.homepage_form.homepage_form_car_models;

    makerSelect.addEventListener('change',   async (event) => {
        let maker_id = event.target.value;
        console.log(maker_id)
        const response = await fetch('http://localhost:8000/get_models_by_maker?maker_id=' + maker_id,
            {#fetch("{{ path('get_models_by_maker') }}",#}
            {

            } )
            .then(response => response.json())
        console.log(response);

            var result = Object.keys(response).map((key) => [String(key), response[key]]);
            // console.log(result)
            modelSelect.innerHTML='';
            result.forEach(function (item) {
                console.log("item = ", item)
                var newOption = document.createElement("option");
                newOption.text = item[0].toString();//item.whateverProperty
                newOption.value = item[1].toString();
                modelSelect.add(newOption);
            });
            //new select items should populated immediately
        return response;

    })
        // console.log(hpAction, hpMethod);

</script>
{% endblock %}